<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="60">
        <mat-toolbar color="primary">Signature Data</mat-toolbar>
        <br>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" fxLayoutAlign="stretch" fxLayout="column" class="login-form" novalidate>
        <mat-form-field>
            <input matInput required name="algorithm" [(ngModel)]="algorithm" placeholder="algorithm">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput required name="data" [(ngModel)]="data" placeholder="data">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput required name="publicExp" [(ngModel)]="publicExp" placeholder="publicExp">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput required name="publicKey" [(ngModel)]="publicKey" placeholder="publicKey">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput required name="base64Encode" [(ngModel)]="base64Encode" placeholder="base64Encode">
        </mat-form-field>
        <button mat-button type="submit">Submit</button>
    </form>
    <br>
    <div fxLayoutAlign="center center" fxFlexFill>
        <mat-toolbar color=primary>Status</mat-toolbar>
        <input matInput type="text" value="{{response}}" />
    </div>
    </mat-card>
</div>